/*Color Variables*/
$color-primary: #E14D2A;
$color-primary-light: #FD841F;
$color-primary-dark: #393E46;

$color-secondary-light: #FEBE8C;
$color-secondary-light2:#FFEBAD;

$color-secondary-light3: #FFB200;
$color-secondary-light4:#277BC0;
$color-secondary-blue: #1CD6CE;
$color-grey-light-1:#f7f7f7;
$color-dark-orange: #C55300;



$color-grey-dark: #777;
$color-grey-dark2:#999;
$color-white:#fff;
$color-black: #000;


//font
$default-font-size: 1.6rem;


/* grid*/
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
